# Basic Python

## 1. Split this string

In [ ]:
s = "Hi there Sam!"
s.split()
['h','there','dad!']

In [ ]:
print()

## 2. Use .format() to print the following string. 

### Output should be: The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth"
diameter = 12742
print("The diameter of {} is {} kilometers.".format (planet,diameter))

In [ ]:
 print()

## 3. In this nest dictionary grab the word "hello"

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
d['k1'][3]['tricky'][3]['target'][3]

In [ ]:
print()

# Numpy

In [ ]:
import numpy as np

## 4.1 Create an array of 10 zeros? 
## 4.2 Create an array of 10 fives?

In [ ]:
import numpy as np
array=np.zeros(10)
print("An array of 10 zeros:")
print(array)
array=np.ones(10)*5
print("An array of 10 fives:")
print(array)

In [ ]:
print()

## 5. Create an array of all the even integers from 20 to 35

In [ ]:
import numpy as np
array=np.arrange(20,30,2)
print("Array of all the even integers from 20 to 35")
print(array)

## 6. Create a 3x3 matrix with values ranging from 0 to 8

In [ ]:
np.arrange(0,9).reshape((3,3))
array([[0,1,2],
      [3,4,5],
      [6,7,8]])

## 7. Concatinate a and b 
## a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [ ]:
import numpy as np
a=np.array([1,2,3])
b=np.array([4,5,6])
arr=np.concatinate((a,b))
print(array)

# Pandas

## 8. Create a dataframe with 3 rows and 2 columns

In [ ]:
import pandas as pd

In [ ]:
df=pd.dataframe()
print(df)

## 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [ ]:
import datetime
import pandas as pd
test_date=datetime.datetime.strptime("01-1-2023","%d-%m-%y")
k=10
date=generated = pd.date_range(test_date, periods=k)
print(date_generated,strftime("%d-%m-%y"))

## 10. Create 2D list to DataFrame

lists = [[1, 'aaa', 22],
         [2, 'bbb', 25],
         [3, 'ccc', 24]]

In [ ]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]
df=pd.dataframe(1st,columns =['tag','number'])

In [ ]:
print(df)